---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?APPID=7cf761cff65e3714849911cbf9367ba9&cnt=7&mode=json&q=Fortaleza&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":6320062,"name":"Fortaleza","coord":{"lon":-38.5247,"lat":-3.7228},"country":"BR","population":0},"cod":"200","message":3.1106699,"cnt":7,"list":[{"dt":1495332000,"temp":{"day":30,"min":30,"max":30.09,"night":30.09,"eve":30,"morn":30},"pressure":1025.65,"humidity":100,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":9.51,"deg":119,"clouds":80},{"dt":1495418400,"temp":{"day":28.34,"min":27.86,"max":29.59,"night":28.92,"eve":27.92,"morn":29.59},"pressure":1024.52,"humidity":100,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":10.18,"deg":111,"clouds":24,"rain":1.47},{"dt":1495504800,"temp":{"day":28.64,"min":27.52,"max":29.04,"night":29.04,"eve":27.52,"morn":28.59},"pressure":1025.11,"humidity":99,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":7.42,"deg":102,"clouds":32,"rain":1.41},{"dt":1495591200,"temp":{"day":27.75,"min":27.69,"max":28.7,"night":28.7,"eve":27.69,"morn":28.35},"pressure":1025.64,"humidity":100,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":5.52,"deg":99,"clouds":32,"rain":0.74},{"dt":1495677600,"temp":{"day":26.47,"min":23.56,"max":31.41,"night":27.78,"eve":23.56,"morn":31.41},"pressure":1007.56,"humidity":0,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":3.15,"deg":63,"clouds":8,"rain":1.28},{"dt":1495764000,"temp":{"day":25.91,"min":22.35,"max":29.79,"night":27.85,"eve":22.35,"morn":29.79},"pressure":1007.92,"humidity":0,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":2.92,"deg":63,"clouds":3,"rain":2.32},{"dt":1495850400,"temp":{"day":25.58,"min":22.61,"max":30.36,"night":28.03,"eve":22.61,"morn":30.36},"pressure":1008.3,"humidity":0,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":3.14,"deg":77,"clouds":10,"rain":1.67}]}'
  recorded_at: Sun, 21 May 2017 13:55:50 GMT
- request:
    method: get
    uri: http://127.0.0.1:49877/__identify__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
    body:
      encoding: UTF-8
      string: '70115435905760'
  recorded_at: Sun, 21 May 2017 14:00:54 GMT
[...]
- request:
    method: get
    uri: http://127.0.0.1:49241/__identify__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
    body:
      encoding: UTF-8
      string: '70287194772260'
  recorded_at: Sun, 21 May 2017 16:31:31 GMT
recorded_with: VCR 3.0.3
