---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?APPID=7cf761cff65e3714849911cbf9367ba9&cnt=7&mode=json&q=Lucan&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":2962785,"name":"Lucan","coord":{"lon":-6.4389,"lat":53.3592},"country":"IE","population":0},"cod":"200","message":2.7273698,"cnt":7,"list":[{"dt":1495368000,"temp":{"day":13,"min":10.82,"max":13.25,"night":10.82,"eve":12.92,"morn":13},"pressure":1019.17,"humidity":75,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"speed":8.06,"deg":181,"clouds":68},{"dt":1495454400,"temp":{"day":18.88,"min":11.78,"max":19.92,"night":11.78,"eve":18.15,"morn":12.51},"pressure":1013.06,"humidity":70,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"speed":6.67,"deg":213,"clouds":56},{"dt":1495540800,"temp":{"day":20.51,"min":14.04,"max":23.04,"night":14.15,"eve":22.6,"morn":14.04},"pressure":1020.88,"humidity":73,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"speed":6.[...]
